<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Create Multiple SKUs</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
	<link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,600,700" rel="stylesheet">
	<script type="text/javascript" src="/scripts/interact.js"></script>
</head>
<body>
	<nav>
		<% if(!activeUser){ %>
		<a href="/login">Login</a>
		<a href="/register">Register</a>
		<% } else if(activeUser.isSupplier) { %>
		<a href="/logout">Logout</a>
		<a href="/pos">POs</a>
		<% } else { %>
		<a href="/logout">Logout</a>
		<a href="/sync">Sync</a>
		<a href="/inboundDocs">Inbound Docs</a>
		<a href="/fabricBooks">Fabric Books</a>
		<a href="/colors">Colors</a>
		<a href="/skuCreation">SKUs</a>
		<% } %>
	</nav>

	<div class="container">
		<% if(error && error.length > 0) { %>
			<div class='alert alert-error'><p><%- error %></p></div>
		<% } %>

		<% if(success && success.length > 0) { %>
			<div class='alert alert-success'><p><%- success %></p></div>
		<% } %>
	</div>