<% include ./partials/header %>

<div class="container" id="main-container">
  <% allColors.forEach(color => {%>
    <div>
      <form class="color-edit-form">
        <input type="hidden" value="<%= color._id %>" name="colorId">
        <input class="color-edit-input" name="color" type="text" value="<%= color.color %>">
        <input class="color-edit-input" type="text" value="<%= color.colorCode%>">
        <button type="button" class="color-edit-submit">Update</button>
        <button type="button" class="color-edit-delete">Delete</button>
      </form>
    </div>
  <% }) %>
</div>

<% include ./partials/footer %>