<% include ./partials/header %>

<div class='container'>
	<h1>Create SKUs</h1>
	<form onsubmit="return validateColors()" action="/skuCreation" method="POST">
		<input type="text" name="sku[parent]" placeholder="Parent SKU" required="true">
		
		<input type="text" name="fbCode" placeholder="Fabric Book">
		<input type="text" name="variantTitle" placeholder="Title" required="true">
		<label for="suppName">Supplier: </label>
		<select name="supp[Name]" id="suppName" required="true">
			<option value="Juju">Juju</option>
			<option value="J&H">J&H</option>
			<option value="Larry">Larry</option>
			<option value="ArtiLady Jewelry">ArtiLady Jewelry</option>
			<option value="Lara Fashion">Lara Fashion</option>
		</select>

		<div class='inputSet'>
			<label for="classification">Classification: </label>
			<select name="classification" id="classification" required="true">
				<option value="" selected>Select One</option>
				<option value="(A1) Accessories- Fashion Jewelry">(A1) Accessories- Fashion Jewelry</option>
				<option value="(A1) Accessories- Rings">(A1) Accessories- Rings</option>
				<option value="(A2) Apparel- Pants">(A2) Apparel- Pants</option>
				<option value="(A2-SMU) Apparel- Pants">(A2-SMU) Apparel- Pants</option>
				<option value="(A2) Apparel- Pants and Capries">(A2) Apparel- Pants and Capries</option>
				<option value="(A2-SMU) Apparel- Pants and Capries">(A2-SMU) Apparel- Pants and Capries</option>
				<option value="(A2) Apparel- Shorts">(A2) Apparel- Shorts</option>
				<option value="(A2-SMU) Apparel- Shorts">(A2-SMU) Apparel- Shorts</option>
				<option value="(A2) Apparel- Women's Skirts">(A2) Apparel- Women's Skirts</option>
				<option value="(A2-SMU) Apparel- Women's Skirts">(A2-SMU) Apparel- Women's Skirts</option>
				<option value="(A3) Apparel- Tops">(A3) Apparel- Tops</option>
				<option value="(A3-SMU) Apparel- Tops">(A3-SMU) Apparel- Tops</option>
				<option value="(A4) Apparel- Sweaters">(A4) Apparel- Sweaters</option>
				<option value="(A4-SMU) Apparel- Sweaters">(A4-SMU) Apparel- Sweaters</option>
				<option value="(A5) Apparel- Jackets and Blazers">(A5) Apparel- Jackets and Blazers</option>
				<option value="(A5-SMU) Apparel- Jackets and Blazers">(A5-SMU) Apparel- Jackets and Blazers</option>
				<option value="(A6) Apparel- Dress">(A6) Apparel- Dress</option>
				<option value="(A6-SMU) Apparel- Dress">(A6-SMU) Apparel- Dress</option>
				<option value="(A6) Apparel- Jumpsuits & Rompers">(A6) Apparel- Jumpsuits & Rompers</option>
				<option value="(A6-SMU) Apparel- Jumpsuits & Rompers">(A6-SMU) Apparel- Jumpsuits & Rompers</option>
				<option value="(A7) Apparel- Activewear">(A7) Apparel- Activewear</option>
				<option value="(A7-SMU) Apparel- Activewear">(A7-SMU) Apparel- Activewear</option>
				<option value="(A7) Apparel- Swimwear">(A7) Apparel- Swimwear</option>
			</select>

			<label for="brand">Brand: </label>
			<select name="brand" id="brand" required="true">
				<option value="" selected>Select One</option>
				<option value="AMARYLLIS">AMARYLLIS</option>
				<option value="AMA By Amaryllis">AMA By Amaryllis</option>
				<option value="REFLECTION">REFLECTION</option>
			</select>
		</div>

		<div id="colorFields">
			<input type="text" list="colorNameList" name="colorSet[color1][colorName]" placeholder="Color" required="true" onchange="fillColorCode(event)" class="colorName">
			<input type="text" name="colorSet[color1][colorCode]" placeholder="Color Code" required="true" readonly>
			<input type="text" name="colorSet[color1][pictureLink]" placeholder="Image Link">
			<input type="text" name="colorSet[color1][fbColor]" placeholder="FB Color Number">
			<button type="button" id="addColor" onclick="addColorFields()">Add Color</button>
			<datalist id="colorNameList">
				<% allColors.forEach(color => { %>
					<option value="<%= color.color %>">
				<% }); %>
			</datalist>
		</div>
		
		<fieldset>
			<legend>Sizes</legend>
			<div id="sizeContainer">
				<label><input type="checkbox" name="size[]" value="S">S</label>
				<label><input type="checkbox" name="size[]" value="M">M</label>
				<label><input type="checkbox" name="size[]" value="L">L</label>
				<label><input type="checkbox" name="size[]" value="XL">X</label>
				<label><input type="checkbox" name="size[]" value="P1X">P1X</label>
				<label><input type="checkbox" name="size[]" value="P2X">P2X</label>
				<label><input type="checkbox" name="size[]" value="P3X">P3X</label>
				<label><input type="checkbox" onclick="selectAll(this)">Select All</label>
				<button type="button" id="kimonoSizing" onclick="kimonoSizeToggle()">Size Style Toggle</button>
			</div>			
		</fieldset>
		

		<fieldset>
			<legend>Cost</legend>
			<label for="rawCost">Raw Cost: </label>
			<input type="number" name="supp[Cost]" id="rawCost" step="0.01">
			<label for="landedCost">Landed Cost: </label>
			<input type="number" name="landedCost" id="landedCost" step="0.01">
			<label for="plusRawCost">Raw Cost (PLUS): </label>
			<input type="number" name="plus[rawCost]" id="plusRawCost" step="0.01">
			<label for="plusLandedCost">Landed Cost (PLUS): </label>
			<input type="number" name="plus[landedCost]" id="plusLandedCost" step="0.01">
		</fieldset>
		
		<input type="submit">
	</form>
</div>

<script type="text/javascript">
	<% allColorsString = JSON.stringify(allColors) %>
	var clientColorList = <%- allColorsString %>;
</script>

<% include ./partials/footer %>