<% include ./partials/header %>

<div class="container" id="main-container">
	<h1>Create SKUs</h1>
	<form onsubmit="return validateColors()" action="/skuCreation" method="POST">
		<input type="text" name="sku[parent]" placeholder="Parent SKU" required="true">
		
		<input type="text" name="fbCode" placeholder="Fabric Book">
		<input type="text" name="variantTitle" placeholder="Title" required="true">
		<label for="suppName">Supplier: </label>
		<select name="supp[Name]" id="suppName" required="true">
			<option value="Tian Yan Clothing ltd">Tian Yan Clothing ltd</option>
			<option value="Limay">Limay</option>
			<option value="Juju">Juju</option>
			<option value="J&H">J&H</option>
			<option value="Larry">Larry</option>
			<option value="ArtiLady Jewelry">ArtiLady Jewelry</option>
			<option value="1 Style in USA">1 Style in USA</option>
			<option value="Lara Fashion">Lara Fashion</option>
			<option value="2NE1 Apparel">2NE1 Apparel</option>
			<option value="Apple B">Apple B</option>
			<option value="B-Tween">B-Tween</option>
			<option value="Cozy Casual">Cozy Casual</option>
			<option value="Double Zero">Double Zero</option>
			<option value="Love Tree Fashion">Love Tree Fashion</option>
			<option value="Rae Mode">Rae Mode</option>
			<option value="See and be Seen">See and be Seen</option>
			<option value="S & G Apparel">S & G Apparel</option>
			<option value="Shes J Apparel">Shes J Apparel</option>
			<option value="Bibi">Bibi</option>
		</select>

		<div class='inputSet'>
			<label for="classification">Classification: </label>
			<select name="classification" id="classification" required="true">
				<option value="" selected>Select One</option>
				<<% allClass.forEach(classification => { %>
					<% if (classification.isEnabled) { %>
					<option value="<%= classification.name %>"><%= classification.name %></option>
					<% }; %>
				<% }); %>>
			</select>

			<label for="brand">Brand: </label>
			<select name="brand" id="brand" required="true">
				<option value="" selected>Select One</option>
				<option value="AMARYLLIS">AMARYLLIS</option>
				<option value="AMA By Amaryllis">AMA By Amaryllis</option>
				<option value="REFLECTION">REFLECTION</option>
			</select>
		</div>

    <label for="inseam">Inseam: </label>
    <input type="text" name="inseam" id="inseam" placeholder="15 in">

    <label for="hps">High Point of Shoulder(HPS): </label>
		<input type="text" name="hps" id="hps" placeholder="13 in">
		
		<label for="weight">Weight (in oz): </label>
		<input type="number" name="weight" id="weight" placeholder="8" step="1">

		<div id="colorFields">
			<input type="text" list="colorNameList" name="colorSet[color1][colorName]" placeholder="Color" required="true" onchange="fillColorCode(event)" class="colorName">
			<input type="text" name="colorSet[color1][colorCode]" placeholder="Color Code" required="true" readonly>
			<input type="text" name="colorSet[color1][pictureLink]" placeholder="Image Link">
			<input type="text" name="colorSet[color1][fbColor]" placeholder="FB Color Number">
			<button type="button" id="addColor" onclick="addFields(colorFields)">Add Color</button>
			<datalist id="colorNameList">
				<% allColors.forEach(color => { %>
					<option value="<%= color.color %>">
				<% }); %>
			</datalist>
		</div>
		
		<fieldset>
			<legend>Sizes</legend>
			<div id="sizeContainer">
				<label><input type="checkbox" name="size[]" value="XS">XS</label>
				<label><input type="checkbox" name="size[]" value="S">S</label>
				<label><input type="checkbox" name="size[]" value="M">M</label>
				<label><input type="checkbox" name="size[]" value="L">L</label>
				<label><input type="checkbox" name="size[]" value="XL">X</label>
				<label><input type="checkbox" name="size[]" value="P1X">P1X</label>
				<label><input type="checkbox" name="size[]" value="P2X">P2X</label>
				<label><input type="checkbox" name="size[]" value="P3X">P3X</label>
				<label><input type="checkbox" onclick="selectAll(this)">Select All</label>
				<button type="button" id="kimonoSizing" onclick="kimonoSizeToggle()">Size Style Toggle</button>
			</div>			
		</fieldset>
		

		<fieldset>
			<legend>Cost</legend>
			<label for="rawCost">Raw Cost: </label>
			<input type="number" name="supp[Cost]" id="rawCost" step="0.01">
			<label for="landedCost">Landed Cost: </label>
			<input type="number" name="landedCost" id="landedCost" step="0.01">
			<label for="plusRawCost">Raw Cost (PLUS): </label>
			<input type="number" name="plus[rawCost]" id="plusRawCost" step="0.01">
			<label for="plusLandedCost">Landed Cost (PLUS): </label>
			<input type="number" name="plus[landedCost]" id="plusLandedCost" step="0.01">
		</fieldset>
		
		<input type="submit">
	</form>

	<form id="newColorForm">
		<h3 class="newColorField">Add New Color</h3>
		<label for="newColor">New Color </label>
		<input type="text" name="newColor" id="newColor">
		<label for="newCode">New Code </label>
		<input type="text" name="newCode" id="newCode">
	</form>
	<button type="button" onclick="sendData('/colors', 'newColorForm', makeColor)">Create New Color</button>
</div>

<script type="text/javascript">
	<% allColorsString = JSON.stringify(allColors) %>
	var clientColorList = <%- allColorsString %>;
</script>

<% include ./partials/footer %>