<% include ./partials/header %>

	<h1>Create SKUs</h1>
	<form action="/" method="POST">
		<input type="text" name="sku[parent]" placeholder="Parent SKU" required="true">
		<input type="text" name="variantColor" placeholder="Color" required="true">
		<input type="text" name="sku[color]" placeholder="Color Code" required="true">
		<input type="text" name="picture" placeholder="image link">
		<input type="text" name="fbCode" placeholder="Fabric Book">
		<fieldset>
			<label><input type="checkbox" name="size[]" value="S">Small</label>
			<label><input type="checkbox" name="size[]" value="M">Medium</label>
			<label><input type="checkbox" name="size[]" value="L">Large</label>
			<label><input type="checkbox" name="size[]" value="XL">X-Large</label>
			<label><input type="checkbox" name="size[]" value="P1X">P1X</label>
			<label><input type="checkbox" name="size[]" value="P2X">P2X</label>
			<label><input type="checkbox" name="size[]" value="P3X">P3X</label>
			<label><input type="checkbox" onclick="selectAll(this)">Select All</label>
		</fieldset>
		
		<input type="text" name="variantTitle" placeholder="Title" required="true">
		<label for="classification">Classification: </label>
		<select name="classification" id="classification" required="true">
			<option value="" selected>Select One</option>
			<option value="(A1) Accessories- Fashion Jewelry">(A1) Accessories- Fashion Jewelry</option>
			<option value="(A1) Accessories- Rings">(A1) Accessories- Rings</option>
			<option value="(A2) Apparel- Pants">(A2) Apparel- Pants</option>
			<option value="(A2-SMU) Apparel- Pants">(A2-SMU) Apparel- Pants</option>
			<option value="(A2) Apparel- Pants and Capries">(A2) Apparel- Pants and Capries</option>
			<option value="(A2-SMU) Apparel- Pants and Capries">(A2-SMU) Apparel- Pants and Capries</option>
			<option value="(A2) Apparel- Shorts">(A2) Apparel- Shorts</option>
			<option value="(A2-SMU) Apparel- Shorts">(A2-SMU) Apparel- Shorts</option>
			<option value="(A2) Apparel- Women's Skirts">(A2) Apparel- Women's Skirts</option>
			<option value="(A2-SMU) Apparel- Women's Skirts">(A2-SMU) Apparel- Women's Skirts</option>
			<option value="(A3) Apparel- Tops">(A3) Apparel- Tops</option>
			<option value="(A3-SMU) Apparel- Tops">(A3-SMU) Apparel- Tops</option>
			<option value="(A4) Apparel- Sweaters">(A4) Apparel- Sweaters</option>
			<option value="(A4-SMU) Apparel- Sweaters">(A4-SMU) Apparel- Sweaters</option>
			<option value="(A5) Apparel- Jackets and Blazers">(A5) Apparel- Jackets and Blazers</option>
			<option value="(A5-SMU) Apparel- Jackets and Blazers">(A5-SMU) Apparel- Jackets and Blazers</option>
			<option value="(A6) Apparel- Dress">(A6) Apparel- Dress</option>
			<option value="(A6-SMU) Apparel- Dress">(A6-SMU) Apparel- Dress</option>
			<option value="(A6) Apparel- Jumpsuits & Rompers">(A6) Apparel- Jumpsuits & Rompers</option>
			<option value="(A6-SMU) Apparel- Jumpsuits & Rompers">(A6-SMU) Apparel- Jumpsuits & Rompers</option>
			<option value="(A7) Apparel- Activewear">(A7) Apparel- Activewear</option>
			<option value="(A7-SMU) Apparel- Activewear">(A7-SMU) Apparel- Activewear</option>
			<option value="(A7) Apparel- Swimwear">(A7) Apparel- Swimwear</option>
		</select>
		<label for="brand">Brand: </label>
		<select name="brand" id="brand" required="true">
			<option value="" selected>Select One</option>
			<option value="AMARYLLIS">AMARYLLIS</option>
			<option value="AMA By Amaryllis">AMA By Amaryllis</option>
			<option value="REFLECTION">REFLECTION</option>
		</select>
		<label for="rawCost">Raw Cost: </label>
		<input type="number" name="supp[Cost]" id="rawCost" step="0.01">
		<!-- <input type="text" name="supp[Name]" placeholder="Supplier"> -->
		<!-- <input type="text" name="supp[Primary]" placeholder="Supplier Primary?"> -->
		<label for="landedCost">Landed Cost: </label>
		<input type="number" name="landedCost" id="landedCost" step="0.01">
		<input type="submit">
	</form>
<% include ./partials/footer %>