<h1>Login (Using Skuvault login)</h1>

<form>
	<input type="text" name="username" placeholder="Username">
	<input type="password" name="password" placeholder="Password">
	<input type="submit" name="">
</form>
